<footer class="colophon" role="contentinfo">
    <h3>What is this?</h3>
    <p>This site is built by <a href="https://codeforamerica.org">Code for America</a> brigades from across the
        country.
        To participate in data collection, curation, or any other help, please join us - <a
            href="{{ site.help_url }}">Code for America Hurricane Response Volunteers</a>.
    </p>
    <div class="partners columns">
        <p class="column">Thank you to the <a href="https://mapbox.com" target="_blank">Mapbox</a>
            team for
            collaborating on mapping tools.<br />
            <img src="{{site.baseurl}}/assets/images/mapbox_logo.png" alt="Mapbox">
        </p>
        <p class="column">Thank you to the <a href="https://cedrdigitalcorps.org/" target="_blank">CEDR Digital
                Corps</a> for
            collaborating on data collection.<br />
            <img src="{{site.baseurl}}/assets/images/CEDR_logo.jpg" alt="CEDR">
        </p>
    </div>
</footer>