
.wrapper {
    margin: 0 auto;
    grid-row-gap: 10px;
    grid-template-areas:
      "header"
      "content"
      "sidebar"
      "footer";
}

.mainheader {
    grid-area: header;
}


.content {
    grid-area: content;
	padding: 0 20px 20px 20px;
}

.sidebar {
    grid-area: sidebar;
}

/*
    Main footer
*/

.colophon {
    background-color: #e5e5e5;
    background-color: var(--grey-light);
    padding-top: 1em;
    min-height: 5em;
    color: #232323;
    color: var(--dark);
    font-size: 1.3em;
    text-align: center;
}
.colophon h3 {
    font-size: 2rem;
}
.colophon p:first-of-type {
    margin: 0 3em 1em;
    padding-top: 1em;
    
}
.columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2em;
}
.column img {
    margin: auto;
}
@media (min-width: 900px) {
    .columns {
        flex-direction: row;
        justify-content: space-between;
    }

    .column {
        padding: 0 1em;
        width: 42%;
    }
}
/*
    Grid
*/

@media (min-width: 550px) {

	.home .site {
		grid-column-gap: 2rem;
		grid-row-gap: 20rem;
		grid-template-columns: 2fr 4fr;
		grid-template-areas:
		  "header  header"
		  "content content"
		  "footer footer"
	  }

    .site {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      grid-template-columns: 2fr 4fr;
      grid-template-areas:
        "header  header"
        "sidebar content"
        "footer footer"
	}
}