/* Generic Link Styles */
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: var(--blue);
}

a:visited { color: var(--grey-dark); }
a:active { color: var(--highlight); }
a:focus { border-bottom: 1px solid var(--blue); }
a:hover { border-bottom: 1px solid; }


/* Main Navigation */
.mainnav a, 
.mainnav a:link,
.mainnav a:visited,
.mainnav a:active,
.mainnav a:focus {
    color: white;
}

.mainnav a:focus {
    border-bottom-color: white;
}

.mainnav a:hover {
    border-bottom-color: var(--red);
    color: var(--red);
    background: white;
}


/* Text Bot */
.text-bot a:link {
    color: var(--grey-light);
    font-size: 1.3em;
}

.text-bot a:hover {
    background-color: white;
    color: var(--green);
}