#map-container {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#map-container #map {
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
}

.mapboxgl-ctrl-top-right div.mapboxgl-ctrl.mapboxgl-ctrl-group {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: stretch;
  padding: 0px;
}

.mapboxgl-ctrl-top-right div.mapboxgl-ctrl.mapboxgl-ctrl-group div.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  position: relative;
  order: 2;
}

.mapboxgl-ctrl-top-right div.mapboxgl-ctrl.mapboxgl-ctrl-group div.mapboxgl-ctrl-geolocate-label {
  background-color: var(--turqoise);
  padding: 5px 10px 5px 10px;
  color: white;
  font-size: 1.5em;
  white-space: nowrap;
  order: 1;
  margin: 0px;
  align-self: center;
  height: 100%;
}


/* LEGEND LAYOUT */
.map-legend {
  padding: 1em .5em;
  background-color: #f9f9f9;
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-start;
  align-content: stretch;
  width: 95vw;
  line-height: 3em;
}

.map-legend h3 {
  border-color: var(--grey);
  border-style: solid;
  border-width: 0 1px 0 0;
  padding-right: .5em;
  vertical-align: center;
  line-height: 3em;
}

.legend-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.legend-items .legend-item {
  vertical-align: middle;
  margin-left: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 90%;
}

.legend-item-visual {
  margin-right: .5em;
  height: 3em;
  flex: 0, 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-item-label {
  white-space: nowrap;
}


/* LEGEND LAYOUT CHANGES FOR SMALL SCREENS */
@media (min-width: 900px) {  
  #map-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  
  #map-container #map {
    height: 75vh;
  }

  .map-legend {
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    width: unset;
    line-height: unset;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 1em 2em;
  }

  .map-legend h3 {
    justify-self: stretch;
    align-self: flex-start;
    margin: 0;
    text-align: center;
    padding: unset;
    padding-bottom: .5em;
    border-width: 0 0 1px 0;
    width: 100%;
    line-height: unset;
  }

  .legend-items {
    height: 100%;
    flex-flow: column nowrap;
    justify-items: stretch;
    align-content: space-between;
  }
  
  .legend-items .legend-item {
    vertical-align: unset;
    margin-left: unset;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 90%;
  }
}

/* LEGEND ITEMS */
.map-legend-route {
  border: 3px solid var(--red);
  width: 2em;
  height: 0px;
}

.map-legend-icon {
  width: unset;
  height: unset;
}

.map-legend-color {
  border-radius: 50%;
}

.step-10 {
  background-color: var(--cyan);
  height: 18px; 
  width: 18px;
}

.step-20 {
  background-color: var(--yellow);
  height: 25px;
  width: 25px;
}

.step-30 {
  background-color: var(--orange);
  height: 30px;
  width: 30px;
}


.shelter-popup>.mapboxgl-popup-content {
  padding: 0;
}

.shelter-popup .popup-header {
  background: var(--cfablue);
  padding: .5em;
  color: var(--grey-light);
  font-size: 1.2rem;
}

.shelter-popup .shelter-details {
  padding: 2em 1em 1em 1em;
}

.mapboxgl-popup-content svg {
  height: 1em;
}