a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


a:link {
    color: var(--blue);
}

.mainnav a:link {
    color: white;
}

a:visited { 
    color: var(--grey-dark);
}

a:focus {
    border-bottom: 1px solid var(--blue);
}

.mainnav a:focus {
    border-bottom: 1px solid white;
}

a:hover {
    border-bottom: 1px solid;
  }

.mainnav a:hover {
    border-bottom: 1px solid var(--red);
    color: var(--red);
    background: white;
  }
  
  a:active {
    color: var(--highlight);
  }

.text-bot a:link {
    color: var(--grey-light);
    font-size: 1.3em;
}

.text-bot a:hover {
    background-color: white;
    color: var(--green);
}