#map-container {
    overflow: hidden;
}

#map-container #map {
    width: 95vw;
    height: 75vh;
    margin: 0 auto;
}

.shelter-map_container {
    height: 90vh;
    position: relative;
}

#map-container.shelter-map_container #map {
    min-height: 90vh;
    max-height: 90vh;
}


.mapboxgl-ctrl-top-right div {
    position: relative;
    overflow: visible;
}

.mapboxgl-ctrl-top-right div::after {
    content: 'Locate Yourself';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px 0 5px;
    height: 100%;
    font-size: 2em;
    width: auto;
    white-space: nowrap;
    background-color: var(--turqoise);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em 0 0 1em;
    transform: translateX(-100%);
}

.map-legend {
    padding: 1em 2em;
    background-color: #f9f9f9;
}

.legend-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.map-legend-route {
    border: 3px solid #e93f36;
    width: 2em;
    height: 0px;
}

.map-legend-color {
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.step-10 {
    background-color: var(--cyan);
}

.step-20 {
    background-color: var(--yellow);
    height: 2em;
    width: 2em;
}

.step-30 {
    height: 3em;
    width: 3em;
    background-color: var(--orange);
}

@media (min-width: 600px) {
    .legend-items {
        flex-direction: row;
        justify-content: space-around;
    }

    .legend-items p {
        padding-top: .3em;
    }
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 30%;
    margin-left: -25%;
    top: 20px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

.shelter-popup>.mapboxgl-popup-content {
    padding: 0;
}

.shelter-popup .popup-header {
    color: var(--grey-light);
    padding: .5em;
    font-size: 1.2rem;
    background: var(--cfablue);
}

.shelter-popup .shelter-details {
    padding: 2em 1em 1em 1em;
}

.mapboxgl-popup-content svg {
    height: 1em;
}