#map-container {
    overflow: hidden;
}

#map-container #map {
    width: 95vw;
    height: 75vh;
    margin: 0 auto;
}

.shelter-map_container {
    height: 90vh;
    position: relative;
}

#map-container.shelter-map_container #map {
    min-height: 90vh;
    max-height: 90vh;
}


.mapboxgl-ctrl-top-right div {
    position: relative;
    overflow: visible;
}

.mapboxgl-ctrl-top-right div::after {
    content: 'Locate Yourself';
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5px 0 5px;
    height: 100%;
    font-size: 2em;
    width: auto;
    white-space: nowrap;
    background-color: var(--turqoise);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1em 0 0 1em;
    transform: translateX(-100%);
}

.map-legend {
    padding: 1em 2em;
    background-color: #f9f9f9;
}

.legend-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.map-legend-route {
    border: 3px solid #e93f36;
    width: 2em;
    height: 0px;
}

.map-legend-color {
    height: 1em;
    width: 1em;
    border-radius: 50%;
}

.step-10 {
    background-color: var(--cyan);
}

.step-20 {
    background-color: var(--yellow);
    height: 2em;
    width: 2em;
}

.step-30 {
    height: 3em;
    width: 3em;
    background-color: var(--orange);
}

@media (min-width: 600px) {
    .legend-items {
        flex-direction: row;
        justify-content: space-around;
    }

    .legend-items p {
        padding-top: .3em;
    }
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 80%;
    left: 30%;
    margin-left: -25%;
    top: 20px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#map .mapboxgl-popup.shelter-popup.mapboxgl-popup-anchor-top {
    display: block;
}

.shelter-popup>.mapboxgl-popup-content {
    display: block;
    padding: 0;
}

.shelter-popup .popup-header {
    color: var(--grey-light);
    font-size: 1.2rem;
    padding: 0.3rem;
    padding-right: 2rem; /* to give room for popup closing 'x' */
    background: var(--cfablue);
}

.shelter-popup .popup-header .is-size-4 {
  margin: 0;
}

.shelter-popup .shelter-details {
    padding: 0;
    padding-top: 1em;
}

.shelter-popup .shelter-details .content {
    font-size: 1.3em;
}

.shelter-popup .shelter-details .content svg {
    height: 1.4rem;
}

.mapboxgl-popup-content svg {
    height: 1em;
}

.shelter-popup .mapboxgl-popup-close-button {
    font-size: 2.5em;
    line-height: .7em;
}

/*
    Media queries for more narrow devices
    for arrangment of elements.
*/
@media (max-width: 640px) {
  #map-container.shelter-map_container #map {
    width: 100%;
  }

  .mapboxgl-control-container {
    width: 100%;
  }

  .mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group {
    margin: 0;
    margin-right: 50%;
    margin-top: 2.5px;
    transform: translateX(287%);
  }

  .mapboxgl-ctrl-top-right {
    width: 100%;
  }

  .mapboxgl-ctrl-top-right div::after {
    border-radius: .2em 0 0 .2em;
    font-size: 1.6em;
  }

  .geocoder {
    top: 35px;
  }
}
