<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

	<body
		{% if page.layout == "home" %}
			class="{{page.bodyClass | default: site.bodyClass |default: "home" }}"
			{% else %}
			class="{{page.layout}}-content"
		{% endif %}
	>
		<div class="wrapper">
			{% include header.html %}

			<main class="content">
            {% include txtbot.html %}
			<div class="map-header">
			<h2>{{ site.title }}</h2>
			<h3>Shelter Locations</h3>
			</div>
					<div id="map-container" class="shelter-map_container">
    					<div id="map">
    					</div>
                        <div id='geocoder' class='geocoder'></div>

					</div>
					<div class="map-legend">
    					<h3>Legend</h3>
						<div class="legend-items">
						<p>
						<div class="map-legend-route"></div>
						Evacuation Route
						</p>
						<p>
						<div class="map-legend-color step-10"></div>
						 10 Shelters or less
						</p>
						<p>
						<div class="map-legend-color step-20"></div>
						 10 -20  Shelters
						</p>
						<p>
						<div class="map-legend-color step-30"></div>
						 More than 20 Shelters
						</p>
						<p>
						<div class="map-legend-icon">
						<img src="{{site.baseurl}}/assets/images/shelter-icon.png" alt="Shelter Icon">
						</div>
						 Shelter
						</p>
						</div>
					</div>
                    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css' type='text/css' />
<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>
<script>
    // Load access token from config
    mapboxgl.accessToken = '{{site.mapbox_access_token}}';

    //TODO: move this to config.
    const MAP_LOAD_CENTER = [{{ site.shelter_map_center }}];
    const INITIAL_ZOOM = [{{ site.shelter_zoom }}];

    var map = new mapboxgl.Map({
        // container id specified in the HTML
        container: 'map',
        // style URL
        style: 'mapbox://styles/miklb-c4tb/cjnozdzs41qlx2rqvf7mwfztt',
        // initial position in [lon, lat] format
        center: MAP_LOAD_CENTER,
        zoom: INITIAL_ZOOM
    });


map.on('load', function() {
    // Add a new source from our GeoJSON data and set the
    // 'cluster' option to true. GL-JS will add the point_count property to your source data.
    map.addSource("shelters", {
        type: "geojson",
        data: "{{ site.shelter_endpoint }}",
        cluster: true,
        clusterMaxZoom: 11, // Max zoom to cluster points on
        clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
        id: "clusters",
        type: "circle",
        source: "shelters",
        filter: ["has", "point_count"],
        paint: {
            // Use step expressions (https://www.mapbox.com/mapbox-gl-js/style-spec/#expressions-step)
            // with three steps to implement three types of circles:
            //   * Blue, 20px circles when point count is less than 10
            //   * Yellow, 30px circles when point count is between 10 and 20
            //   * Pink, 40px circles when point count is greater than or equal to 20
            "circle-color": [
                "step",
                ["get", "point_count"],
                "#4298bb",
                10,
                "#fedd44",
                20,
                "#e87d2b"
            ],
            "circle-radius": [
                "step",
                ["get", "point_count"],
                20,
                10,
                30,
                20,
                40
            ]
        }
    });
    map.addLayer({
        id: "cluster-count",
        type: "symbol",
        source: "shelters",
        filter: ["has", "point_count"],
        layout: {
            "text-field": "{point_count_abbreviated}",
            "text-font": ["DIN Offc Pro Medium", "Arial Unicode MS Bold"],
            "text-size": 12
        }
    });

    // on mouseover, make it obvious that clusters are interactive
    map.on('mouseenter', 'clusters', () => {
        map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', 'clusters', () => {
        map.getCanvas().style.cursor = '';
    });

    map.on('click', 'clusters', e => {
        const cluster = map.queryRenderedFeatures(e.point, { layers: ['clusters'] })[0];
        const clusterId = cluster.properties.cluster_id;
        const center = cluster.geometry.coordinates;
        map.getSource('shelters').getClusterExpansionZoom(clusterId, (err, zoom) => {
            err || map.easeTo({ center, zoom });
        });
    });


    map.loadImage("{{site.baseurl}}/assets/images/shelter-icon.png", (error, img) => {
        map.addImage("shelter", img);
        map.addLayer({
            id: "unclustered-point",
            type: "symbol",
            source: "shelters",
            filter: ["!", ["has", "point_count"]],
            layout: {
                "icon-image": "shelter"
            }
        });
        map.on('click', 'unclustered-point', (ev) => {
            const coords = ev.features[0].geometry.coordinates.slice();
            const props = ev.features[0].properties;
            const popup = new mapboxgl.Popup({
                offset: 25,
                className: 'shelter-popup'
            }).setHTML(popupTemplate(props));
            popup.setLngLat(coords).addTo(map);
        });
        // Change the cursor to a pointer when the mouse is over the unclustered-point layer.
        map.on('mouseenter', 'unclustered-point', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'unclustered-point', function () {
            map.getCanvas().style.cursor = '';
        });

    });
    var navControl = new mapboxgl.NavigationControl();
    map.addControl(navControl, 'bottom-right');
    map.addControl(new mapboxgl.GeolocateControl({
        className: 'control-geolocate',
        positionOptions: {
            enableHighAccuracy: true
        },
        trackUserLocation: true
    }));
});

var geocoder = new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
placeholder: "Search for closest shelter.",
mapboxgl: mapboxgl
});

document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

    /**
     * https://github.com/hurricane-response/florence-api/issues/53
     *
     * Checks if address has "," to signify that it contains more than just the street number.
     *
     * @param shelter
     * @returns {boolean}
     */
    function isFullAddress(shelter) {
        if (!shelter.address){
            return false;
        }
        return shelter.address.split(',').length > 1;
    }

    /**
     * Verifies there is a phone number received that is not "0000000000"
     *
     * @param shelter
     * @returns {boolean}
     */
    function isPhone(shelter) {
        let phone = shelter.cleanPhone.trim();
        if (((/[^\d]/.test(phone)) || (phone.replace(/0+/g, '').length === 0)) && shelter.phone) {
            phone = shelter.phone.replace(/[^\d]/g, '');
        }
        return phone.replace(/[\-\+\(\)\s0]+/g, '').length !== 0;
    }

    /**
     * https://github.com/hurricane-response/florence-api/issues/53
     *
     * Joins the different address segments into a string,
     * if state has no value it will just join the zipcode after the city
     *
     * @param shelter
     * @returns {string}
     */
    function shelterAddressToString(shelter) {
        return [
            shelter.address,
            shelter.city,
            shelter.state
            + ' '
            + shelter.zip
        ].join(', ');
    }

    /**
     * Replaces URLs in a string with anchor elements
     *
     * @param content {string}
     * @returns {string}
     */
    function urlsToAnchors(content) {
        if (!content) {
            return void 0;
        }
        const urlMatchPattern = /(?:(?:https?):\/\/|www\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/igm;
        const urls = content.match(urlMatchPattern);
        if (!urls){
            return content;
        }
        urls.forEach(url => {
            content = content.replace(url, transformToAnchor(url));
        });
        return content;
    }

    /**
     * Replaces url with an html anchor
     *
     * @param url
     * @returns {string}
     */
    function transformToAnchor(url) {
        return `<a role="link" href="${url}" target="_blank">${url}</a>`
    }

    /**
     * Builds a HTML template (Popup) from a shelter object.
     *
     * @params shelter
     * @returns {string}
     */
    function popupTemplate(shelter) {

        // These seem to come in as proper `null` when manually tested
        if (shelter.address === 'null') { shelter.address = null }
        if (shelter.pets === 'null') { shelter.pets = null }
        if (shelter.notes === 'null') { shelter.notes = null }

        let petsExtraNotes = shelter.pets_notes;
        if (!petsExtraNotes || petsExtraNotes === 'null') {
            petsExtraNotes = '';
        }

        const phoneLink = `
            <div class="phone">
                <svg id="icon-phone" viewBox="0 0 32 32" aria-label="phone icon">
                    <path d="M22 20c-2 2-2 4-4 4s-4-2-6-4-4-4-4-6 2-2 4-4-4-8-6-8-6 6-6 6c0 4 4.109 12.109 8 16s12 8 16 8c0 0 6-4 6-6s-6-8-8-6z"></path>
                </svg>
                <span class="phone-details" aria-label="shelter phone number">
                    <a class="phone" role="link" href="tel:${shelter.cleanPhone}">${shelter.phone}</a>
                </span>
            </div>
        `;
        const address = `
            <div class="address">
                <div class="address-details" aria-label="address details">
                    ${isFullAddress(shelter) ? shelter.address : shelterAddressToString(shelter)}
                </div>
            </div>
        `;
        const note = `
            <div class="note">
                <label><strong>Note:</strong></label>
                <div class="note-details" aria-label="Notes for shelter">
                    ${urlsToAnchors(shelter.notes)}
                </div>
            </div>
        `;
        const petsNote = `
            <div class="note">
                <label><strong>Pets:</strong></label>
                <span class="note-details allows-pets" aria-label="Does this shelter allow pets?">
                    ${urlsToAnchors(shelter.pets) || ''}
                </span>
                <div class="note-details pets-notes" aria-label="Notes for shelter pets policy">
                    ${urlsToAnchors(petsExtraNotes) || petsExtraNotes}
                </div>
            </div>
        `;
        return `
            <header class="popup-header">
                <p class="is-size-4 has-text-centered">${shelter.shelter}</p>
            </header>
            <div class="shelter-details">
                <div class="content is-size-6 has-text-left">
                    ${!!shelter.address ? address : ``}
                    <div class="controls">
                        ${!!shelter.address
            ? `
                            <svg id="icon-directions" viewBox="0 0 32 32" aria-label="directions icon">
                                <path d="M17 32c-0.072 0-0.144-0.008-0.217-0.024-0.458-0.102-0.783-0.507-0.783-0.976v-15h-15c-0.469 0-0.875-0.326-0.976-0.783s0.129-0.925 0.553-1.123l30-14c0.381-0.178 0.833-0.098 1.13 0.199s0.377 0.749 0.199 1.13l-14 30c-0.167 0.358-0.524 0.577-0.906 0.577zM5.508 14h11.492c0.552 0 1 0.448 1 1v11.492l10.931-23.423-23.423 10.931z"></path>
                            </svg>
                            <a class="directions button is-link" target="_blank" href="https://www.google.com/maps/dir/current+location/${encodeURIComponent(shelterAddressToString(shelter))}" aria-label="Get directions button">
                                <label>Directions</label>
                            </a>
                        `
            : ``}
                    </div>
                    ${!!shelter.address ? '<br/>' : ``}
                    ${isPhone(shelter) ? phoneLink : ``}
                    ${!!shelter.pets || !!petsExtraNotes ? petsNote : ``}
                    ${!!shelter.notes ? note : ``}
                </div>
            </div>
        `;
    }

</script>

			</main>

			{% include footer.html %}
		</div>
	</body>
</html>
