{% assign map_name = 'pods' %}

<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

	<body
		{% if page.layout == "home" %}
			class="{{page.bodyClass | default: site.bodyClass |default: "home" }}"
		{% else %}
			class="{{page.layout}}-content"
		{% endif %}
	>
		<div class="wrapper">
			{% include header.html %}
			
			<main class="content">
                {% include txtbot.html %}
                <div class="map-header">
                    <h2>{{ site.title }}</h2>
                    <h3>{{ mapOpts.map_title }}</h3>
                </div>
                {% include map.html map_name=map_name %}
			</main>

			{% include footer.html %}
		</div>
	</body>
</html>
